body {
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	opacity: 0.5;
    left: 0px;
}

img:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}

#info {
	font-size: 20px;
}

.track {
    background: grey;
    padding: none;
}



.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}